
<h2>Login Page - Simple Login Web - Email / Password</h2>
<p><a target="_blank" href="https://www.firebase.com/docs/security/simple-login-email-password.html">Learn more about Email / Password</a></p>

<form>
    <label>
        <span>email</span>
        <input type="text" ng-model="email" />
    </label>
    <label>
        <span>password</span>
        <input type="password" ng-model="pass" />
    </label>
    <label ng-cloak ng-show="createMode">
        <span>confirm pass</span>
        <input type="password" ng-model="confirm" />
    </label>
    <button ng-click="login()" ng-hide="createMode">Log In</button>
    <button ng-click="createMode = true" ng-hide="createMode">Create Account</button>
    <button ng-cloak ng-show="createMode" ng-click="createAccount()">Ready to Create</button>
    <button ng-cloak ng-show="createMode" ng-click="createMode = false">Cancel</button>

    <p ng-show="err" class="error">{{err}}</p>
</form>
<p>Alternatively you can login using <a href="#/login-custom-jwt">Custom Login</a> via a generated JWT</p>

